<footer id="footer">
    <h4>Powered by</h4>
    <div class="images-wrapper">
        <picture>
            <img src="https://img.icons8.com/color/96/000000/angularjs.png" alt="angular"/>
        </picture>
        <picture>
            <img src="https://img.icons8.com/color/96/000000/sass.png" alt="sass"/>
        </picture>
        <picture>
            <img src="https://img.icons8.com/color/96/000000/nodejs.png" alt="nodejs" />
        </picture>
        <picture>
            <img src="https://img.icons8.com/color/96/000000/mongodb.png" alt="mongodb"/>
        </picture>
    </div>
</footer>
