<header id="header">

        <div id="logo">
            <picture>
                <img src="assets/img/angular.svg" class="app-logo" alt="Logotipo" />
            </picture>
            <span id="brand">
                <strong>Blog App</strong>
            </span>
        </div>

        <nav id="menu">
            <ul>
                <li>
                    <a [routerLink]="['/home']" [routerLinkActive]="['link-active']">Home</a>
                </li>
                <li>
                    <a [routerLink]="['/blog']" [routerLinkActive]="['link-active']">Blog</a>
                </li>
                <li>
                    <a [routerLink]="['/create']" [routerLinkActive]="['link-active']">Create article</a>
                </li>
            </ul>
        </nav>

        <div class="clearfix"></div>

</header>
