<div class="center">
    <section id="content">
        <h2 class="subheader">Create an article</h2>

        <form class="create-form-wrapper">

            <div class="create-form-info">
                <label class="form-label">Title</label>
                <input type="text" class="form-input"/>

                <label class="form-label">Content</label>
                <textarea class="form-input"></textarea>

                <label class="form-label">Image</label>
                <input type="file" class="form-input"/>
            </div>

            <div class="create-form-image">
                <picture>
                    <img src="https://unhabitatmejor.leroymerlin.es/sites/default/files/styles/header_category/public/2018-10/4%20paisaje%20macedonia.jpg?itok=AELknmF8" alt="Paisaje" />
                </picture>
            </div>

        </form>

    </section>
</div>
