<div class="article">
    <article class="article-item">
        <picture class="image-wrap">
            <img src="https://unhabitatmejor.leroymerlin.es/sites/default/files/styles/header_category/public/2018-10/4%20paisaje%20macedonia.jpg?itok=AELknmF8"  alt=""/>
        </picture>
        <div class="body">
            <h2>Test article</h2>
            <a href="#" class="read-more">Read more</a>
            <span class="date">about 5 min</span>
            <div class="clearfix"></div>
        </div>
    </article>
</div>
